In [1]:
import os
from dotenv import load_dotenv
from api.data_api import DataAPI
import pandas as pd

# Load environment variables (if you're using a .env file)
load_dotenv()

# Database configuration
db_config = {
    'host': os.getenv('NETFLIX_DB_HOST'),
    'database': os.getenv('NETFLIX_DB_NAME'),
    'user': os.getenv('NETFLIX_DB_USER'),
    'password': os.getenv('NETFLIX_DB_PASSWORD')
}

# Initialize the API
api = DataAPI(db_config)

In [3]:
# Example of a SELECT query
query = "SELECT * FROM best_movies LIMIT 5"
result = api.select_data(query)

# Display the result as a DataFrame
pd.DataFrame(result)
pd.DataFrame(result).head()

,index,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,MAIN_GENRE,MAIN_PRODUCTION
0,0,David Attenborough: A Life on Our Planet,2020,9.0,31180,83,documentary,GB
1,1,Inception,2010,8.8,2268288,148,scifi,GB
2,2,Forrest Gump,1994,8.8,1994599,142,drama,US
3,3,Anbe Sivam,2003,8.7,20595,160,comedy,IN
4,4,Bo Burnham: Inside,2021,8.7,44074,87,comedy,US